@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* use imported Martel Sans first, then Poppins as fallback */
    font-family: "Martel Sans", 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    /* background-image: url("Assets/Images/bg.jpg"); */
    background-image: url("Assets/Images/bg2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /* use cover so the background fills the hero reliably across browsers */
    background-size: max(1200px, 100vw);
    height: 96vh;
    position: relative;
}

.shadow {
    height: 96vh;
    width: 100%;
    opacity: 0.8;
    background-color: black;
    position: absolute;
    top: 0;

}

@media screen and (min-width:1280px) {
    .shadow {
        min-height: min(80vh, 45rem);
    }
}

@media (min-width: 960px) {
    .shadow {
        min-height: 37rem;
    }
}

@media screen and (max-width:1400px) {
    .main {
        background-size: cover;
    }
}

@media screen and (max-width:960px) {
    .main {
        background-size: cover;
        height: 60vh;
    }
}


nav {
    max-width: 80vw;
    height: 88px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    color: rgb(247, 20, 20);
    width: 164px;
    position: relative;
    z-index: 10;
}

@media screen and (max-width:960px) {
    nav img {
        width: 100px;
    }

    nav {
        max-width: 95vw;
    }

}

nav button {
    position: relative;
    z-index: 10;
}

.hero-text {
    font-family: "Martel Sans", sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 88px);
    position: relative;
    color: white;
    /* margin-top:212px ; */
    padding: 0 40px;
}

@media screen and (min-width:600px) {
    .hero-text> :first-child {
        font-weight: 700;
        font-size: 2rem;
    }

    .hero-text> :nth-child(2) {
        font-weight: 700;
        font-size: 2rem;
    }

    .hero-text> :nth-child(3) {
        font-size: 1rem;
        text-align: center;
    }
}

@media screen and (min-width:960px) {
    .hero-text> :first-child {
        font-weight: 700;
        font-size: 2.5rem;
    }

    .hero-text> :nth-child(2) {
        font-weight: 700;
        font-size: 2.5rem;

    }

    .hero-text> :nth-child(3) {
        font-size: 1.5rem;
        text-align: center;
    }

    .hero-text> :nth-child(4) {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 12px;
    }
}

@media screen and (min-width:1280px) {

    .hero-text> :first-child {
        font-weight: 900;
        font-size: 3.5rem;
        text-align: center;
    }

    .hero-text> :nth-child(2) {
        font-weight: 900;
        font-size: 3.5rem;
        text-align: center;
        /* margin-bottom: 20px; */
    }

    .hero-text> :nth-child(3) {
        font-size: 1.5rem;
        text-align: center;
        /* margin-bottom: 20px; */
    }

    .hero-text> :nth-child(4) {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:600px) {

    .hero-text> :first-child {
        font-weight: 700;
        font-size: 2rem;
    }

    .hero-text> :nth-child(2) {
        font-weight: 700;
        font-size: 2rem;
    }

    .hero-text> :nth-child(3) {
        font-size: 1rem;
        text-align: center;
    }

    .hero-text> :nth-child(4) {
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;
    }

}

.separator {
    height: 7px;
    background-color: #2d2d2d;
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: bolder;
    background-color: unset;
    color: white;
    border-radius: 4px;

}

.btn-red {
    position: relative;
    z-index: 20;
    background-color: red;
    cursor: pointer;
}

.btn-red-gs {
    font-size: 25px;
    padding: 7px 41px 7px 41px;
    border: none;
}

.add {
    /* opacity: 12px; */
    font-weight: 900;
    padding: 17px 230px 17px 13px;
    border: 1px solid rgb(120, 119, 119);
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

@media screen and (max-width:545px) {
    .hero-btn input {
        width: 26%;
        margin: 20px auto;
    }
}

@media only screen and (max-width:960px) {
    .btn-red-gs {
        font-size: 21px;
        padding: 10px 15px 10px 15px;
    }

    .add {
        font-weight: 900;
        padding: 17px 111px 17px 13px;
    }
}

@media screen and (max-width:620px) {
    .add {
        font-weight: 900;
        padding: 9px 230px 9px 13px;
    }

    .btn-red-gs {
        font-size: 21px;
        padding: 6px 15px 6px 15px;
    }

    .hero-btn {
        display: block;
        margin-bottom: 32px;
    }

    .hero-btn input {
        margin-bottom: 15px;
    }
}

.btn-red-sm {
    font-size: 16px;
    border: none;
    padding: 3px 16px;
}

.btn-ln {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 16px;
    border: 1px solid white;
    padding: 3px 26px 3px 26px;
    gap: 4px;
    /* shadow-shadow: 0 0 0 5px red; */
    /* outline: 2px solid white; */
    /* outline-offset: 2px; */
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.section {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    max-height: 73vh;
    /* height: 26vh; */
    margin: auto;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

/* @media screen and (max-width:1280px) {
    .section{
        font-size: 0;
    }
} */

.sec-img {
    position: relative;
    padding-top: 64px;
}

.sec-img img {
    width: 450px;
    position: relative;
    z-index: 10;
}

.sec-img video {
    width: 22vw;
    position: relative;
    top: -308px;
    right: -70px;
}

.section>div {
    display: flex;
    flex-direction: column;
    /* padding-top:10px; */
}

.text1 {
    padding-bottom: 92px;
}

.text3 {
    padding-bottom: 92px;

}

.section>div :first-child {
    font-size: 3rem;
    position: relative;
    font-weight: bolder;
}

.section>div :nth-child(2) {
    font-size: 1.5rem;
}

@media screen and (max-width:1280px) {
    .section>div :first-child {
        font-size: 2rem;
        font-weight: bolder;
    }

    .section>div :nth-child(2) {
        font-size: 1rem;
    }
}

.restart {
    padding: 30px;
}

.main-hero-btn {
    /* background-color: rgba(22, 22, 22, 0.7); */
    padding: 0 58px 58px 58px;
}

.add2 {
    font-weight: 900;
    padding: 17px 417px 17px 13px;
    border: 1px solid rgb(120, 119, 119);
    background-color: rgba(26, 24, 24, 0.7);
}

@media screen and (max-width:1000px) {
    .add2 {
        font-weight: 900;
        /* padding: 17px 111px 17px 13px; */
    }
}

@media screen and (max-width:620px) {
    .add2 {
        font-weight: 900;
        padding: 9px 230px 9px 13px;
    }
}

.restart{
    font-size: 1.1rem;
    font-weight: 600;
}

/* SECTION FAQ */
.faq {
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    color: white;
}

.faq h2 {
    padding-top: 45px;
}

.boxes {
    background-color: #2d2d2d;
    /* padding: 34px; */
    width: 80%;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.boxes:hover {
    background-color: #414141;
}

.box {
    font-size: 1.5rem;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:960px) {
    .box {
        font-size: 1rem;
    }
}

footer {
    max-width: 80vw;
    color: white;
    max-width: 60vw;
    margin: auto;
}

.call {
    padding: 50px 0;
}

footer span {
    display: flex;
    font-size: 1rem;
    padding: 20px 0;
}

footer a {
    font-size: 1rem;
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 102px;

}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width:1280px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
}

@media screen and (max-width:960px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}

.foot-btn {
    padding-top: 50px;
}

.end1 {
    color: #ffffffB3;
    padding: 40px 0 20px 0;
    font-size: 1rem;
}

.end2 {
    color: #ffffff80;
    font-size: 0.8rem;
    
    padding: 20px 0 100px 0;
}

.end2 .lm {
    color: rgb(68, 142, 244);
    font-size: 0.8rem;
}